<!-- 

 -->

<!-- Filter Datatables -->
<section id="ngx-datatable-filter" *ngIf="rows">
  <div class="row">
    <div class="col-12">
      <!-- Filter starts -->
      <div class="users-list-filter px-2">
        <form>
          <div class="row border rounded py-2 mb-2 mx-n2">
            <div class="col-12 col-sm-6 col-lg-3">
              <label for="users-list-verified">Verified</label>
              <fieldset class="form-group">
                <select id="users-list-verified" class="form-control">
                  <option value="" *ngFor="let corp of rows">{{corp.S_NombreCorto}}</option>
                </select>
              </fieldset>
            </div>

            <div class="col-12 col-sm-6 col-lg-3">
              <label for="users-list-role">Role</label>
              <fieldset class="form-group">
                <select id="users-list-role" class="form-control">
                  <option value="" *ngFor="let corp of rows">{{corp.S_NombreCorto}}</option>
                </select>
              </fieldset>
            </div>

            <div class="col-12 col-sm-6 col-lg-3" *ngIf="rows">
              <label for="users-list-status">Status</label>
              <fieldset class="form-group">
                <select id="users-list-status" class="form-control">
                  <option value="">Any</option>
                  <option value="Active">Active</option>
                  <option value="Close">Close</option>
                  <option value="Banned">Banned</option>
                  <option value="" *ngFor="let corp of rows">{{corp.S_NombreCorto}}</option>
                </select>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      <!-- Filter ends -->
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <!-- ngx-datatable-filter -->
            <fieldset class="form-group">
              <label>Show
                <select name="users-list-select"
                  class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                  (click)="updateLimit($event)">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label>
              <label for="ngx-filter-ref" class="float-right">Search:
                <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
                  type="text" />
              </label>
            </fieldset>

            Start of tale
            <table class="table" *ngIf="rows">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" [width]="100">Corporativo</th>
                  <th scope="col">URL</th>
                  <th scope="col">Incorporacion</th>
                  <th scope="col">Creado el</th>
                  <th scope="col">Asignado a</th>
                  <th scope="col">Status</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody *ngFor="let corp of rows">
                <tr>
                  <th >
                    <img src="{{corp.S_LogoURL}}" alt="logo" height="32" width="32">
                    <a [routerLink]="['/corporativos', corp.id]">
                      {{corp.S_NombreCorto}}
                    </a>
                  </th>
                  <td> {{corp.S_SystemUrl}} </td>
                  <td> {{corp.D_FechaIncorporacion |date: 'dd-MMM-yyyy'}} </td>
                  <td> {{corp.asignado.created_at|date: 'dd-MMM-yyyy' }} </td>
                  <td> {{corp.asignado.S_Nombre + ' ' + corp.asignado.S_Apellidos}} </td>
                  <td> {{corp.asignado.created_at}} </td>
                  <div class="d-flex p-2">
                    <div class="d-flex justify-content-between">
                      <td>
                        <a routerLink="/users-edit">
                          <i class="ft-view text-primary cursor-pointer"></i>
                        </a>
                        <a routerLink="/users-edit">
                          <i class="ft-edit text-primary cursor-pointer"></i>
                        </a>

                      </td>
                    </div>
                  </div>
                </tr>
              </tbody>
            </table>

            <!-- End of table -->

            <!-- ngx-datatable-filter -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Filter Datatables -->